.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap:10px;
    padding-left: 10px;
}

.item {
    flex: 0 calc(100%/3 - 10px);
}

.list .item:nth-child(4n) {
    flex: 0 calc(100% - 10px);
}

@media (max-width: 360px) {
    .list .item{
        flex: 0 100%;
    }
}